NODE_ENV=
# 阿里oss配置
ALIOSS_ACCESS_KEY_ID=
ALIOSS_ACCESS_KEY_SECRET=

# 数据库配置
DB_MYSQL_HOST=
DB_MYSQL_USERNAME=
DB_MYSQL_PASSWORD=
DB_MYSQL_DATABASE=blog_db
DB_MYSQL_PORT=3306

# redis配置
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

